In [23]:
import os 
import pandas as pd

In [24]:
path = os.getcwd()

In [25]:
df_old = pd.read_csv(path + "\\track_2_package\\train.csv", sep = ',') 
df_old # весь датасет

,station_id,date,stage_avg,stage_min,stage_max,temp,water_code,ice_thickness,snow_height,place,discharge,year,month,day,delta_stage_max
0,3019,1985-01-01,-23.0,-23.0,-23.0,NaN,16,NaN,NaN,NaN,NaN,1985,1,1,NaN
1,3019,1985-01-02,-23.0,-23.0,-23.0,NaN,16,NaN,NaN,NaN,NaN,1985,1,2,0.0
2,3019,1985-01-03,-23.0,-23.0,-23.0,NaN,16,NaN,NaN,NaN,NaN,1985,1,3,0.0
3,3019,1985-01-04,-24.0,-24.0,-24.0,NaN,16,NaN,NaN,NaN,NaN,1985,1,4,-1.0
4,3019,1985-01-05,-24.0,-24.0,-24.0,NaN,16,53.0,29.0,1.0,NaN,1985,1,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306977,3555,2019-12-27,294.0,294.0,294.0,NaN,46,NaN,NaN,NaN,NaN,2019,12,361,-1.0
306978,3555,2019-12-28,295.0,295.0,295.0,NaN,46,NaN,NaN,NaN,NaN,2019,12,362,1.0
306979,3555,2019-12-29,295.0,295.0,295.0,NaN,46,NaN,NaN,NaN,NaN,2019,12,363,0.0
306980,3555,2019-12-30,295.0,295.0,295.0,NaN,46,NaN,NaN,NaN,NaN,2019,12,364,0.0
306981,3555,2019-12-31,294.0,294.0,294.0,NaN,46,44.0,47.0,1.0,NaN,2019,12,365,-1.0

In [16]:
df_old.isna().sum()

station_id              0
date                    0
stage_avg             285
stage_min             285
stage_max             285
temp               137513
water_code            197
ice_thickness      291306
snow_height        291888
place              290759
discharge          190491
year                    0
month                   0
day                     0
delta_stage_max       329
dtype: int64

In [22]:
ice = pd.read_csv(path + "\\track_2_package\\ice_saw.csv", sep = ',') 
# ice.sample(20) # весь датасет

ice = pd.read_csv(path + "\\track_2_package\\ice_saw.csv", sep = ',')